<div class="card">

    <form (ngSubmit) = "editProducts()">
        
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                       <td><label>Product Id</label></td>
                        <td><input type="text" name="p_id" [(ngModel)]="updateProduct.productId"/></td>
                    </tr>
                    <tr>
                        <td><label>Product Name</label></td>
                         <td><input type="text" name="p_name" [(ngModel)]="updateProduct.productName"/></td>
                     </tr>
                     <tr>
                        <td><label>Product Code</label></td>
                         <td><input type="text" name="p_code" [(ngModel)]="updateProduct.productCode"/></td>
                     </tr>
                     <tr>
                        <td><label>Product Date</label></td>
                         <td><input type="text" name="p_date" [(ngModel)]="updateProduct.releaseDate"/></td>
                     </tr>
                     <tr>
                        <td><label>Product Description</label></td>
                         <td><input type="text" name="p_desc"  [(ngModel)]="updateProduct.description"/></td>
                     </tr>
                     <tr>
                        <td><label>Product Price</label></td>
                         <td><input type="text" name="p_price" [(ngModel)]="updateProduct.price"/></td>
                     </tr>
                     <tr>
                        <td><label>Product Star Rating</label></td>
                         <td><input type="text" name="p_rating" [(ngModel)]="updateProduct.starRating"/></td>
                     </tr>
                     <tr>
                        <td><label>Product ImageUrl</label></td>
                         <td><input type="text" name="p_image" [(ngModel)]="updateProduct.imageUrl"/></td>
                     </tr>
                     <tr>
                         <td></td>
                         <td><input type="submit" value="Submit" /></td>
                     </tr>
                     <router-outlet></router-outlet>
                </tbody>
            </table>
        </div>
    </div>
</form>
</div>
