<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Product App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Product</a>
      </li>      
    </ul>

    <ul class="navbar-nav">
      <!-- <li class="nav-item"> -->
        <a class="nav-link" routerLink="/login" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Login</a>
      <!-- </li> -->
      <!-- <li class="nav-item"> -->
        <a class="nav-link" routerLink="/register" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Register</a>
      <!-- </li>       -->
      <a class="nav-link"  style="cursor:pointer" *ngIf="_auth.loggedIn()"(click)="logoutUser()" >Logout</a>
    </ul>
    </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
